@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ol,
ul {
  padding-left: 0rem;
}

.navbar {
  display: inline;
  font-size: 20px;
}
.navbar .slogan {
  padding: 7px;
  font-size: small;
  font-weight: 100;
  text-align: center;
}
.navbar .logo {
  margin-bottom: 20px;
}
.navbar .nav-link {
  color: #000;
  font-weight: 550;
}
.navbar .nav-link:hover {
  color: #ff4500;
  transition: 0.6s;
}
.navbar .navbar-toggler {
  padding: 5px;
  margin: 20px;
}

.sliders {
  z-index: 3;
}

@media (max-width: 1055px) {
  .sliders {
    height: 100vh;
    object-fit: cover;
  }
}
#queOfrecemosIndex {
  padding-top: 50px;
  padding-bottom: 50px;
}
#queOfrecemosIndex .queOfrecemos {
  text-transform: capitalize;
}
#queOfrecemosIndex .card {
  margin: 50px;
}
#queOfrecemosIndex .card .card-img-top {
  filter: brightness(73%) grayscale(65%);
}
#queOfrecemosIndex .card .card-title {
  text-transform: capitalize;
}
#queOfrecemosIndex .card .card-text {
  padding: 30px;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.6s;
}

.algunosProductos {
  text-transform: capitalize;
  margin-bottom: 40px;
}

.productos {
  padding: 15px;
}

.productos:hover {
  transform: scale(1.02);
  transition: all 0.6s;
}

.verMas-contenedor {
  display: flex;
  justify-content: center;
  position: relative;
}
.verMas-contenedor .verMas {
  color: azure;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #ff4500;
  width: 12rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: large;
}

.verMas:hover {
  color: azure;
  background-color: #000;
  transition: 0.6s;
}

.beneficios-titulos {
  margin-top: 15px;
  background-color: #ff4500;
  color: azure;
}
.beneficios-titulos h3 {
  font-size: 3rem;
  padding: 75px;
}
.beneficios-titulos h4 {
  padding-bottom: 75px;
  padding-left: 75px;
}

.beneficios-contenido {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.beneficios-contenido h4 {
  padding: 3rem;
}

.fa-users {
  padding-left: 3.5rem;
}

.fa-truck-fast,
.fa-up-right-and-down-left-from-center,
.fa-comment-dots {
  color: #ff4500;
  padding-right: 2rem;
  padding-top: 3rem;
}

.fa-truck-fast:hover,
.fa-up-right-and-down-left-from-center:hover,
.fa-comment-dots:hover {
  color: black;
  transform: scale(1.02);
  transition: 0.6s;
}

.parallax, .parallax-contacto, .parallax2, .parallax-servicios {
  background-image: url(../image/background3.jpg);
  min-height: 10rem;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.8);
  text-align: center;
  padding: 7rem 0;
}
.parallax a, .parallax-contacto a, .parallax2 a, .parallax-servicios a {
  color: white;
}

.parallax a:hover, .parallax-contacto a:hover, .parallax2 a:hover, .parallax-servicios a:hover {
  font-size: 3.8rem;
  transition: 0.6s;
}

.frase-contenedor {
  padding-bottom: 75px;
}

.frase-titulo {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.frase {
  display: inline-block;
  margin: 20px;
  padding-left: 2rem;
  padding-right: 5rem;
  text-align: center;
  width: 100%;
  height: 5rem;
  font-size: 1.3rem;
}

.foot {
  width: 100%;
  height: 700px;
  margin-top: 3px;
  padding: 2rem;
  background-image: url(../image/fondoFooter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media screen and (max-width: 1377px) {
  .foot {
    height: 850px;
  }
}
@media screen and (max-width: 1200px) {
  .foot {
    height: 850px;
  }
}
@media screen and (max-width: 992px) {
  .foot {
    height: 1100px;
  }
}
@media screen and (max-width: 768px) {
  .foot {
    height: 1100px;
  }
}
@media screen and (max-width: 576px) {
  .foot {
    height: 1270px;
  }
}
.foot a {
  color: #000;
  font-size: 1.5rem;
  font-weight: lighter;
}

.foot a:hover {
  color: #ff4500;
  transition: 0.6s;
}

.foot-texto {
  padding-top: 1.5rem;
  line-height: 2rem;
}

.foot-contacto {
  padding-top: 1.5rem;
  list-style: none;
  line-height: 3rem;
  text-align: center;
}

.foot-navegacion {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 2rem;
}
.foot-navegacion a {
  font-size: 1.2rem;
}

.copyright {
  padding-top: 17rem;
  color: azure;
  text-align: center;
  line-height: 1em;
}

.copyright-derechos {
  padding: 10px;
}

.arrow-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: rgba(255, 69, 0, 0.6);
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50px;
  color: azure;
  justify-content: center;
  padding-top: 30px;
}

.arrow-up:hover {
  color: azure;
  background: rgb(255, 69, 0);
  transition: 0.6s;
}

.col {
  padding: 5rem;
}

.parallax-servicios {
  margin-bottom: 75px;
}

.galeria-titulo {
  padding: 50px;
}

.nav-pills {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.nav-pills .nav-link {
  color: #000;
}
.nav-pills .nav-link.active {
  background-color: #ff4500;
  border-radius: 3px;
}

.galeria-imagenes img {
  padding-bottom: 1.5rem;
}

.galeria-imagenes img:hover {
  transform: scale(1.02);
  transition: 0.6s;
}

.parallax2 {
  background-image: url(../image/background1.jpg);
  background-size: cover;
  filter: grayscale(0.5);
  margin-bottom: 75px;
}
.parallax2 a {
  color: white;
}

.parallax2 a:hover {
  font-size: 3.8rem;
  transition: 0.5s;
}

.contacto-titulo {
  padding: 50px;
}

.mapa {
  height: 70vh;
}

#detallesDeContacto {
  padding: 3rem;
}
#detallesDeContacto h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.formulario-contenedor {
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.formulario-contenedor h1 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 35px;
}

#formulario {
  display: flex;
  flex-direction: column;
}
#formulario input {
  margin: 5px;
  padding: 10px 20px 10px 20px;
  border: 20px;
  border-radius: 20px;
}

.parallax-contacto {
  margin-bottom: 75px;
}

.cotizacion-titulo {
  padding: 50px;
}

.cotizacion-formulario {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.cotizacion-formulario h2 {
  text-align: center;
  padding-bottom: 0rem;
}
.cotizacion-formulario input {
  margin: 5px;
  padding: 10px 20px 10px 20px;
  border: 20px;
  border-radius: 20px;
}

.acercade-titulo {
  padding: 50px;
}

.acercade1 {
  margin: 3rem;
}
@media screen and (max-width: 768px) {
  .acercade1 {
    margin: 0;
  }
}
.acercade1 h2 {
  text-align: center;
  padding-bottom: 2.4rem;
}

.acercade2 {
  margin: 50px;
}
@media screen and (max-width: 768px) {
  .acercade2 {
    margin: 0;
  }
}
.acercade2 h2 {
  text-align: center;
  padding-bottom: 2.4rem;
}

.acercade3 {
  margin: 5px;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}
.acercade3 h2 {
  text-align: center;
  padding-bottom: 2.4rem;
}

/*# sourceMappingURL=styles.css.map */
